{% extends "base.html" %}

{% block title %}
Профиль ученика
{% endblock %}

{% block body %}
<span class="fs-4">Профиль ученика</span>
{% for s in stud %}
{% if s.Student.id_user==current_user.id %}
<h3>{{ s.Student.fullName }}</h3>
<p>Дата рождения: {{ s.Student.dateBirth }}</p>
<p>Класс: {{ s.Group.number }}</p>
{% endif %}
{% endfor %}
<a href="/logout" class="mb-2 btn btn-lg rounded-4 btn-primary" type="submit">Выйти</a>
<hr>
<h3>Ваши проверочные работы</h3>
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th scope="col">Дисциплина</th>
            <th scope="col">Номер работы</th>
            <th scope="col">Работа</th>
            <th scope="col">Предельная дата выполнения</th>
            <th scope="col">Статус</th>
            <th scope="col">Оценка</th>
        </tr>
        </thead>
        <tbody>
        {% for r in result_lw_list %}
        {% if r.Student.id_user==current_user.id and r.WorkGroup.id_group==r.Student.id_group %}
        <tr>
            <td>{{ r.Discipline.name }}</td>
            <td>{{ r.LaboratoryWork.number }}</td>
            <td>{{ r.LaboratoryWork.name }}</td>
            <td>{{ r.WorkGroup.deadline }}</td>
            <td>{{ r.ResultLabWork.status }}</td>
            <td>{{ r.ResultLabWork.grade }}</td>
        </tr>
        {% endif %}
        {% endfor %}
        </tbody>
    </table>
</div>
<h3>Ваши контрольные работы</h3>
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th scope="col">Дисциплина</th>
            <th scope="col">Номер работы</th>
            <th scope="col">Работа</th>
            <th scope="col">Предельная дата выполнения</th>
            <th scope="col">Статус</th>
            <th scope="col">Оценка</th>
        </tr>
        </thead>
        <tbody>
        {% for r in result_cw_list %}
        {% if r.Student.id_user==current_user.id %}
        <tr>
            <td>{{ r.Discipline.name }}</td>
            <td>{{ r.ControlWork.number }}</td>
            <td>{{ r.ControlWork.name }}</td>
            <td>{{ r.ControlWork.deadline }}</td>
            <td>{{ r.ResultControlWork.status }}</td>
            <td>{{ r.ResultControlWork.grade }}</td>
        </tr>
        {% endif %}
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}